apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      name: zookeeper
  template:
    metadata:
      labels:
        name: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: wurstmeister/zookeeper:3.4.6
          env:
            - name: ZOOKEEPER_ID
              value: "1"
            - name: ZOOKEEPER_SERVER_1
              value: zookeeper
          ports:
            - containerPort: 2181
          resources:
            limits:
              memory: 350Mi
          # readinessProbe:
          #   tcpSocket:
          #     port: 9092
          #   initialDelaySeconds: 45
          #   periodSeconds: 5
          #   timeoutSeconds: 5
            # failureThreshold: 20
          # livenessProbe:
          #   exec:
          #     command:
          #     - sh
          #     - -c
          #     - "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server=localhost:9092"
          #   timeoutSeconds: 5
          #   periodSeconds: 5
          #   initialDelaySeconds: 60
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  labels:
    app: zookeeper
spec:
  ports:
    - name: client
      port: 2181
      protocol: TCP
    - name: follower
      port: 2888
      protocol: TCP
    - name: leader
      port: 3888
      protocol: TCP
  selector:
    name: zookeeper
