app:
  server: localhost
  port: 8080

logging:
  level:
    root: INFO
    se.magnus: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE


# Strongly recommend to set this property to "none" in a production environment!
spring.jpa.hibernate.ddl-auto: update

spring.datasource:
  # url: jdbc:h2:mem:review-db
  url: jdbc:postgresql://localhost:5432/review-db
  platform: postgres
  username: postgres
  password: pwd


spring.data:
  mongodb:
    host: localhost
    port: 27017
    # database: recommendation-db
    # database: product-db

# spring.datasource.hikari.initializationFailTimeout: 60000
  
api:
  common:
    version: 1.0.0
    title: Sample API
    description: Product Composite API from Microservices with Spring Boot and Spring Cloud
    termsOfServiceUrl: http://mike-mitnick.com
    license: Mitnick license
    licenseUrl: http://mike-mitnick.com
    contact:
      name: Albert Michael Mitnick
      url: http://mike-mitnick.com
      email: mmitnick.mm@gmailcom

  product-composite:
    get-composite-product:
      description: Returns a composite view of the specified product id
      notes: |
        # Normal response
        If the requested product id is found the method will return information regarding:
        1. Base product information
        1. Reviews
        1. Recommendations
        1. Service Addresses (technical information regarding the addresses of the microservices that created the response)

        # Expected partial and error responses
        In the following cases, only a partial response be created (used to simplify testing of error conditions)

        ## Product id 113
        200 - Ok, but no recommendations will be returned

        ## Product id 213
        200 - Ok, but no reviews will be returned

        ## Non numerical product id
        400 - A <b>Bad Request</b> error will be returned

        ## Product id 13
        404 - A <b>Not Found</b> error will be returned

        ## Negative product ids
        422 - An <b>Unprocessable Entity</b> error will be returned

    create-composite-product:
      description: Creates a composite product
      notes: |
        # Normal response
        The composite product information posted to the API will be splitted up and stored as separate product-info, recommendation and review entities.

        # Expected error responses
        1. If a product with the same productId as specified in the posted information already exists,
           an <b>422 - Unprocessable Entity</b> error with a "duplicate key" error message will be returned

    delete-composite-product:
      description: Deletes a product composite
      notes: |
        # Normal response
        Entities for product information, recommendations and reviews related to the specificed productId will be deleted.
        The implementation of the delete method is idempotent, i.e. it can be called several times with the same response.
        This means that a delete request of a non existing product will return <b>200 Ok</b>.

---
# Docker configuration
spring:
  config:
    activate:
      on-profile: docker

api:
  common:
    version: 1.0.0
    title: Sample API
    description: Product Composite API from Microservices with Spring Boot and Spring Cloud
    termsOfServiceUrl: http://mike-mitnick.com
    license: Mitnick license
    licenseUrl: http://mike-mitnick.com
    contact:
      name: Albert Michael Mitnick
      url: http://mike-mitnick.com
      email: mmitnick.mm@gmailcom

  product-composite:
    get-composite-product:
      description: Returns a composite view of the specified product id
      notes: |
        # Normal response
        If the requested product id is found the method will return information regarding:
        1. Base product information
        1. Reviews
        1. Recommendations
        1. Service Addresses (technical information regarding the addresses of the microservices that created the response)

        # Expected partial and error responses
        In the following cases, only a partial response be created (used to simplify testing of error conditions)

        ## Product id 113
        200 - Ok, but no recommendations will be returned

        ## Product id 213
        200 - Ok, but no reviews will be returned

        ## Non numerical product id
        400 - A <b>Bad Request</b> error will be returned

        ## Product id 13
        404 - A <b>Not Found</b> error will be returned

        ## Negative product ids
        422 - An <b>Unprocessable Entity</b> error will be returned

    create-composite-product:
      description: Creates a composite product
      notes: |
        # Normal response
        The composite product information posted to the API will be splitted up and stored as separate product-info, recommendation and review entities.

        # Expected error responses
        1. If a product with the same productId as specified in the posted information already exists,
           an <b>422 - Unprocessable Entity</b> error with a "duplicate key" error message will be returned

    delete-composite-product:
      description: Deletes a product composite
      notes: |
        # Normal response
        Entities for product information, recommendations and reviews related to the specificed productId will be deleted.
        The implementation of the delete method is idempotent, i.e. it can be called several times with the same response.
        This means that a delete request of a non existing product will return <b>200 Ok</b>.

spring.data:
  mongodb:
    # host: mongodb
    host: 172.16.238.11
    port: 27017
    database: product-db

# spring.data.mongodb.host: mongodb

spring.datasource:
  # url: jdbc:postgresql://postgresql/review-db
  url: jdbc:postgresql://172.16.238.12/review-db
  username: postgres

server.port: 8080
